<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>dominion</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript">
      var socket = io.connect('http://localhost:9898');
      socket.on('yo', function (d) {
        console.log(d);
      });
    </script>
  </body>
</html>
